In [188]:
%load_ext nb_black
import pandas as pd
import numpy as np

The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

In [193]:
data = "datasets/challenge_dataset"
df = pd.read_table(data, sep=",")

85656

In [195]:
df.isnull().sum()

source                   0
hyperlink            21993
locality                 2
postcode              7412
house_is                 0
property_subtype      6024
price                 1471
sale                 67258
rooms_number          1379
area                  3527
kitchen_has          11645
furnished            12462
open_fire             5872
terrace              20762
terrace_area         17622
garden                8456
garden_area          23118
land_surface         29062
land_plot_surface    29862
facades_number        9482
swimming_pool_has    20264
building_state       31180
dtype: int64

In [150]:
def basic_expl(x):
    return x.isna().sum()

In [160]:
# Types within locality (Nan are float!)

df.locality.apply(type).value_counts()

<class 'str'>      93066
<class 'float'>        2
Name: locality, dtype: int64

In [162]:
# Show Nan cases

locality_null = pd.isnull(df["locality"])
df[locality_null]

# Count Nan cases
df["locality"].isna().sum()  # 2

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
66862,1,https://www.immoweb.be/en/classified/mixed-use...,NaN,8450.0,True,MIXED_USE_BUILDING,315000.0,residential_sale,3.0,172.0,...,NaN,NaN,TRUE,20.0,NaN,NaN,233,2,NaN,NaN
75868,1,https://www.immoweb.be/en/classified/apartment...,NaN,1000.0,False,APARTMENT,650000.0,residential_sale,2.0,102.0,...,NaN,TRUE,NaN,NaN,NaN,NaN,NaN,2,NaN,AS_NEW

In [163]:
# Show and count unique cases

df["locality"].unique()
df["locality"].nunique()  # 5770

5770

In [168]:
# All entries are strings

df["locality"].astype(str).count()  # 93068

# Check how many entries consist of integers only (=postcodes)
df["locality"].str.isdigit().sum()  # 64630
# Show them
df.loc[df["locality"].astype(str).str.isdigit(), "locality"]


# Number of entries that ARE NOT integers
df.loc[~df["locality"].astype(str).str.isdigit(), "locality"].count()  # 28436

28436

## Postcode

From  entries:

    -  (all) floats
    -  are string made by integers (=could be postcodes; CHECK NUMBER OF CHARS)
    -  are non-integers strings
    -  are unique entries

In [169]:
df.postcode.apply(type).value_counts()

<class 'float'>    93068
Name: postcode, dtype: int64

In [172]:
postcode_null = pd.isnull(df["postcode"])
df[postcode_null]

# Count Nan cases
df["postcode"].isna().sum()  # 7412

7412

In [175]:
df[df["postcode"] == df["locality"]]

Empty DataFrame
Columns: [source, hyperlink, locality, postcode, house_is, property_subtype, price, sale, rooms_number, area, kitchen_has, furnished, open_fire, terrace, terrace_area, garden, garden_area, land_surface, land_plot_surface, facades_number, swimming_pool_has, building_state]
Index: []

[0 rows x 22 columns]

In [187]:
post_nonnull = df.postcode.notnull()
post_nonnull.astype(str).str.isdigit()
print(post_nonnull)

0        True
1        True
2        True
3        True
4        True
         ...
93063    True
93064    True
93065    True
93066    True
93067    True
Name: postcode, Length: 93068, dtype: bool

In [207]:
df["LINKS"] = df["hyperlink"].str.extract(r"(\b[0-9]{7}\b)")

In [213]:
df["LINKS"] == df["hyperlink"]

0         True
1         True
2         True
3         True
4         True
         ...
93063    False
93064    False
93065    False
93066    False
93067    False
Length: 93068, dtype: bool

In [216]:
df.hyperlink.apply(type).value_counts()

<class 'str'>      71075
<class 'float'>    21993
Name: hyperlink, dtype: int64

In [222]:
df.hyperlink.isna().sum()

21993

In [220]:
df.LINKS.apply(type).value_counts()

<class 'str'>      70602
<class 'float'>    22466
Name: LINKS, dtype: int64

In [219]:
df.LINKS.isna().sum()

22466

In [212]:
df[
    (df["hyperlink"] == df["hyperlink"].notnull())
    & (df["LINKS"] == df["LINKS"].isnull())
]

Empty DataFrame
Columns: [source, hyperlink, locality, postcode, house_is, property_subtype, price, sale, rooms_number, area, kitchen_has, furnished, open_fire, terrace, terrace_area, garden, garden_area, land_surface, land_plot_surface, facades_number, swimming_pool_has, building_state, LINKS]
Index: []

[0 rows x 23 columns]