In [1]:
%load_ext nb_black
import pandas as pd
import numpy as np
import regex as re

In [2]:
data = "datasets/challenge_dataset"
immo_eliza = pd.read_table(data, sep=",")
df = immo_eliza[["locality", "postcode", "kitchen_has", "furnished", "facades_number"]]
df.head()

/home/sara/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (11,12,16,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

  locality  postcode kitchen_has furnished facades_number
0     4180    4180.0        True     False              0
1     8730    8730.0        True     False              0
2     4020    4020.0        True     False              0
3     1200    1200.0        True      True              0
4     1190    1190.0        True     False              0

# Functions

In [3]:
# Postcodes


def postcodes_fun():
    "This function extracts postcodes from locality and adds them into null postcodes"
    # Show number of nan values in postcode
    print(df.postcode.isnull().sum())

    # Extract postcodes from locality and add them to postcode column
    df["loc_code"] = df["locality"].str.extract(r"(\b[0-9]{4}\b)")
    df.loc[df.postcode.isnull(), "postcode"] = df.loc_code

    # Fill null vales with '-999'
    df["postcode"].fillna("-999", inplace=True)

    # Delete dummy column
    del df["loc_code"]

    # Return column
    return df["postcode"]


def localities_fun():
    data_postcodes = "datasets/be_postal_codes.csv"
    loc_pc = pd.read(data_postcodes)


def bool_to_bin(x, final_type):
    df[x] = df[x].astype(str)
    df[x] = df[x].map({"False": 0, "True": 1, "nan": -999})
    df[x].fillna(-999, inplace=True)
    df[x] = df[x].astype(final_type)
    return df[x]


def facades_num():
    df["facades_number"] = df["facades_number"].apply(str)
    df.facades_number.replace("(\.0)", "", regex=True, inplace=True)
    df["facades_number"] = df.facades_number.replace(
        ["nan", "None", "0"], -999
    )  # maybe treat 0 as -999 too?
    df["facades_number"] = df["facades_number"].astype(int)
    return df["facades_number"]

In [4]:
df["postcode"] = postcodes_fun()
df["furnished"] = bool_to_bin("furnished", int)
df["kitchen_has"] = bool_to_bin("kitchen_has", int)
df["facades_number"] = facades_num()

7412

/home/sara/.local/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/home/sara/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)
/home/sara/.local/lib/python3.6/site-packages/pandas/core/series.py:4523: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,
/home/sara/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/sara/.local/lib/python3.6/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/sara/.local/lib/python3.6/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/sara/.local/lib/python3.6/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/sara/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/sara/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/sara/.local/lib/python3.6/site-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/sara/.local/lib/python3.6/site-packages/pandas/core/series.py:4569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/home/sara/.local/lib/python3.6/site-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/sara/.local/lib/python3.6/site-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/sara/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [5]:
df.set_index(df["postcode"], inplace=True)
df.index = df.index.astype(int)

In [6]:
df

         locality postcode  kitchen_has  furnished  facades_number
postcode
4180         4180     4180            1          0            -999
8730         8730     8730            1          0            -999
4020         4020     4020            1          0            -999
1200         1200     1200            1          1            -999
1190         1190     1190            1          0            -999
...           ...      ...          ...        ...             ...
2650         2650     2650            1       -999               2
3700         3700     3700            1       -999               4
3800         3800     3800            1       -999               2
2610         2610     2610            1       -999               2
9840         9840     9840            1       -999               4

[93068 rows x 5 columns]

In [7]:
data_postcodes = "datasets/be_postal_codes.csv"
loc_pc = pd.read_csv(data_postcodes, encoding="latin")
loc_pc.dtypes

Postal Code             int64
Place Name             object
State                  object
State Abbreviation     object
City                   object
Latitude              float64
Longitude             float64
dtype: object

In [8]:
loc_pc

,Postal Code,Place Name,State,State Abbreviation,City,Latitude,Longitude
0,1000,Bruxelles,Bruxelles-Capitale,BRU,Bruxelles,50.8466,4.3528
1,1005,Conseil Region Bruxelles-Capitale,Bruxelles-Capitale,BRU,Bruxelles,50.8466,4.3528
2,1006,Raad Vlaamse Gemeenschapscommissie,Bruxelles-Capitale,BRU,Bruxelles,50.8466,4.3528
3,1007,Ass. Commiss. Communau. française,Bruxelles-Capitale,BRU,Bruxelles,50.8466,4.3528
4,1008,Chambre des Représentants,Bruxelles-Capitale,BRU,Bruxelles,50.8466,4.3528
...,...,...,...,...,...,...,...
1170,7972,Beloeil Ellignies-Sainte-Anne,Wallonie,WAL,Hainaut,50.5618,3.6727
1171,7973,Beloeil Grandglise,Wallonie,WAL,Hainaut,50.5057,3.6963
1172,1100,Postcheque,NaN,NaN,NaN,50.8350,4.3647
1173,1105,SOC,NaN,NaN,NaN,50.8350,4.3647
1174,4090,F.B.A. (Forces Belges en Allemagne),NaN,NaN,NaN,50.6380,5.5978

In [9]:
merged_df = df.merge(loc_pc, left_index=True, right_on="Postal Code")

In [10]:
merged_df

,locality,postcode,kitchen_has,furnished,facades_number,Postal Code,Place Name,State,State Abbreviation,City,Latitude,Longitude
637,4180,4180,1,0,-999,4180,Hamoir Comblain-Fairon,Wallonie,WAL,Liège,50.4500,5.5500
637,4180,4180,1,0,-999,4180,Hamoir Comblain-Fairon,Wallonie,WAL,Liège,50.4500,5.5500
637,4180,4180,0,0,-999,4180,Hamoir Comblain-Fairon,Wallonie,WAL,Liège,50.4500,5.5500
637,4180,4180,1,0,-999,4180,Hamoir Comblain-Fairon,Wallonie,WAL,Liège,50.4500,5.5500
637,4180,4180,1,0,-999,4180,Hamoir Comblain-Fairon,Wallonie,WAL,Liège,50.4500,5.5500
...,...,...,...,...,...,...,...,...,...,...,...,...
361,8421,8421,1,0,3,8421,De Haan,Vlaanderen,VLG,West-Vlaanderen,51.2667,3.0333
361,8421,8421,1,-999,3,8421,De Haan,Vlaanderen,VLG,West-Vlaanderen,51.2667,3.0333
899,6441,6441,1,0,-999,6441,Froidchapelle Erpion,Wallonie,WAL,Hainaut,50.0574,4.3157
15,1044,1044,-999,-999,4,1044,RTBF,Bruxelles-Capitale,BRU,Bruxelles,50.8412,4.3704
40,1212,1212,1,-999,2,1212,SPF Mobilité,Bruxelles-Capitale,BRU,Bruxelles,50.8573,4.3593

In [11]:
merged_df = merged_df.reset_index()

In [12]:
merged_df.info()
merged_df["Postal Code"] == merged_df["postcode"]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87245 entries, 0 to 87244
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               87245 non-null  int64
 1   locality            87243 non-null  object
 2   postcode            87245 non-null  object
 3   kitchen_has         87245 non-null  int64
 4   furnished           87245 non-null  int64
 5   facades_number      87245 non-null  int64
 6   Postal Code         87245 non-null  int64
 7   Place Name          87245 non-null  object
 8   State               87245 non-null  object
 9   State Abbreviation  87245 non-null  object
 10  City                87245 non-null  object
 11  Latitude            87245 non-null  float64
 12  Longitude           87245 non-null  float64
dtypes: float64(2), int64(5), object(6)
memory usage: 8.7+ MB

0        True
1        True
2        True
3        True
4        True
         ...
87240    True
87241    True
87242    True
87243    True
87244    True
Length: 87245, dtype: bool

In [18]:
complete_data = merged_df[merged_df.columns[[7, 2, 10, 8, 3, 4, 5]]]

In [19]:
complete_data

,Place Name,postcode,City,State,kitchen_has,furnished,facades_number
0,Hamoir Comblain-Fairon,4180,Liège,Wallonie,1,0,-999
1,Hamoir Comblain-Fairon,4180,Liège,Wallonie,1,0,-999
2,Hamoir Comblain-Fairon,4180,Liège,Wallonie,0,0,-999
3,Hamoir Comblain-Fairon,4180,Liège,Wallonie,1,0,-999
4,Hamoir Comblain-Fairon,4180,Liège,Wallonie,1,0,-999
...,...,...,...,...,...,...,...
87240,De Haan,8421,West-Vlaanderen,Vlaanderen,1,0,3
87241,De Haan,8421,West-Vlaanderen,Vlaanderen,1,-999,3
87242,Froidchapelle Erpion,6441,Hainaut,Wallonie,1,0,-999
87243,RTBF,1044,Bruxelles,Bruxelles-Capitale,-999,-999,4
87244,SPF Mobilité,1212,Bruxelles,Bruxelles-Capitale,1,-999,2

## Cleaning LOCALITY

In [13]:
# df[~df["locality"].astype(str).str.isdigit()]
# df.loc[df.postcode.isnull(), "postcode"] = df.loc_code
# df.loc[~df["locality"].astype(str).str.isdigit(), "locality"].tolist()
# df.locality.isna()
# df.loc[df["locality"].astype(str).str.isalpha(), "locality"].tolist()