In [115]:
%load_ext nb_black
import pandas as pd
import numpy as np

The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

In [116]:
data = "datasets/challenge_dataset"
df = pd.read_table(data, sep=",")

df.info()
df.shape  # (87480, 22)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87480 entries, 0 to 87479
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   source              87455 non-null  float64
 1   hyperlink           71511 non-null  object
 2   locality            75899 non-null  object
 3   postcode            80043 non-null  float64
 4   house_is            87480 non-null  bool
 5   property_subtype    87480 non-null  object
 6   price               85984 non-null  object
 7   sale                37414 non-null  object
 8   rooms_number        86106 non-null  object
 9   area                83953 non-null  object
 10  kitchen_has         81367 non-null  object
 11  furnished           76977 non-null  object
 12  open_fire           70030 non-null  object
 13  terrace             61138 non-null  object
 14  terrace_area        76187 non-null  object
 15  garden              79000 non-null  object
 16  garden_area         70365 non-null  object
 17  land_surface        64006 non-null  object
 18  land_plot_surface   63206 non-null  object
 19  facades_number      77999 non-null  object
 20  swimming_pool_has   66806 non-null  object
 21  building_state      56301 non-null  object
dtypes: bool(1), float64(2), object(19)
memory usage: 14.1+ MB

/home/sara/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (9,11,12,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

(87480, 22)

In [91]:
df.head()

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6.0,8901695,4180,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6.0,8747010,8730,8730.0,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6.0,8775843,4020,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6.0,8910441,1200,1200.0,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6.0,8758672,1190,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW

## Locality

From 87480 entries:

    - 1158 are Nan cases (floats)
    - 47463 are string made by integers (=could be postcodes; CHECK NUMBER OF CHARS)
    - 28436 are non-integers strings
    - 5695 are unique entries

In [128]:
# Types within locality (Nan are float!)

df.locality.apply(type).value_counts()

<class 'str'>      75899
<class 'float'>    11581
Name: locality, dtype: int64

In [127]:
# Show Nan cases

locality_null = pd.isnull(df["locality"])
df[locality_null]

# Count Nan cases
df["locality"].isna().sum()  # 11581

11581

In [129]:
# Show and count unique cases

df["locality"].unique()
df["locality"].nunique()  # 5695

5695

In [144]:
# All entries are strings

# df["locality"].astype(str).count()  # 87480

# Check how many entries consist of integers only (=postcodes)
df["locality"].str.isdigit().sum()  # 47463
# Show them
df.loc[df["locality"].astype(str).str.isdigit(), "locality"]


# Number of entries that ARE NOT integers
df.loc[~df["locality"].astype(str).str.isdigit(), "locality"].count()  # 28436

28436